[submodule "Flame/vendor/spdlog"]
	path = Flame/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Flame/vendor/GLFW"]
	path = Flame/vendor/GLFW
	url = https://github.com/Seeseejava/glfw
[submodule "Flame/vendor/glm"]
	path = Flame/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Flame/vendor/imgui"]
	path = Flame/vendor/imgui
	url = https://github.com/Seeseejava/imgui

[submodule "Flame/vendor/yaml-cpp"]
	path = Flame/vendor/yaml-cpp
	url = https://github.com/Seeseejava/yaml-cpp
[submodule "Flame/vendor/Imguizmo"]
	path = Flame/vendor/Imguizmo
	url = https://github.com/Seeseejava/ImGuizmo
