# Binaries
**/bin/
bin-int/
out/
build/


# Flame files
*.log


# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.vcxproj.user

Engine/Source/Editor/*.dll
Engine/Source/Editor/*.ini
